@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
    background: rgb(5,5,5);
    background: linear-gradient(0deg, rgba(5,5,5,1) 1%, rgba(14,6,25,1) 21%, rgba(22,10,45,1) 40%, rgba(11,4,20,1) 73%, rgba(3,2,5,1) 100%);
}

.sidebar-gradient {
    background: rgb(5,5,5);
    background: linear-gradient(to right, rgba(5,5,5,1) 0%, rgba(10,5,15,1) 100%);
}




